# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# Sensitive / logs
*.log
*.txt
*.env

# IDE
.idea/
.vscode/
